.alternative-font-5{
    font-family : 'Cairo', Georgia, 'Times New Roman', Times, serif !important;
}
.header-logo{
    width: 100% !important;
    height: 100% !important;
}
#team_page .img-fluid{
    width: 350px !important;
    height: 300px !important;
}

#team .img-fluid,
#about .img-fluid{
    height: 220px !important;
    border-radius: 5px;
}
.slider::after {
/*// ::before and ::after both require content*!*!*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: linear-gradient(120deg, #666751, #33d0ffa8);*/
    background-color: rgba(0,0,0,.6);
    opacity: .7;
    z-index: 1;
}
/*.slider::after, .slider::before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 50%;*/

/*    transform: skew(15deg)*/
/*    translateX(-50%);*/
/*    width: 75%;*/
/*    height: 100%;*/
/*    background-image: linear-gradient(120deg,#ebffb7ba,#33d0ff8f);*/
/*    background-color: #333;*/
/*    opacity: .7;*/
/*}*/
/*.slider::before {*/
/*    transform: skew(-15deg)*/
/*    translateX(-50%);*/
/*}*/
/*.slider {*/
/*    overflow: hidden;*/
/*}*/

.slider> * {
    z-index: 100;
}
.slider {
    position: relative;
    min-height: 60vh;
    background-size: cover;
    display: flex;

}
.detail img
{
    border-radius: 5px;
    height: 325px;
    width: 100%;
}
#about section.section {
    margin: 30px 0 0;
}
#news .img-fluid {
    width: 300px !important;
    height: 230px !important;
}
.tp-revslider-mainul
{
    background: rgba(0,0,0,.5);
    position: absolute;
    display: block;
    z-index: 2000;
}
.btn-lang{
    height: 35px;
    margin: auto;
    padding: 0 30px;
}
 .pad-a {
    padding: 0.5rem 1.2rem !important;
    font-size: 0.7rem;
}
.hide{
    transform: scale(0);
    width: 0;
    padding: 0;
    transition: all 0.4s ease-in-out;
}
#list-icons{
    display: inherit;
}
nav[role=navigation]{
    text-align: center;
}
nav[role=navigation] .flex ,
nav[role=navigation] p{
    display: none;
}
 .w-5{
    width: 15px;
}
@media(max-width: 1024px) {
    #footer img {
        height: 210px;
        top: -25px !important;
        position: inherit !important;
        right: 0 !important;
        left: 0 !important;
    }
    #socl-icons{
        display: none;
    }
    #list-icons{
        text-align: center !important;
        margin-bottom: 0 !important;
    }
    #about_img{
        display: none;
    }
    .owl-carousel.dots-title .owl-dots{
        position: relative;
    }
    .owl-theme .owl-dots .owl-dot{
        display: none !important;
    }
    #team_pd{
        padding: 3rem 0!important;
    }
    #contact .row{
        margin-top: 0 !important;
    }
    #header .header-nav-features{
        margin: auto 0 !important;
    }
}

@media(min-width: 768px) and (max-width: 1023px){

}

@media(min-width: 1024px) and (max-width: 1365px){

}

@media(max-width: 767px){


}
